<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">บริการลูกค้า</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">การช่วยเหลือและติดต่อ</a></li>
                <li><a class="footer-link" href="#">การคืนสินค้าและการคืนเงิน</a></li>
                <li><a class="footer-link" href="#">ร้านค้าออนไลน์</a></li>
                <li><a class="footer-link" href="#">ข้อตกลงและเงื่อนไข</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">บริษัท</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">เราทำอะไร</a></li>
                <li><a class="footer-link" href="#">บริการที่มีอยู่</a></li>
                <li><a class="footer-link" href="#">โพสต์ล่าสุด</a></li>
                <li><a class="footer-link" href="#">คำถามที่พบบ่อย</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">ช่องทางการติดต่อ</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">ทวิตเตอร์</a></li>
                <li><a class="footer-link" href="#">อินสตาแกรม</a></li>
                <li><a class="footer-link" href="#">พินเทอเรสต์</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2024 สงวนลิขสิทธิ์.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">พัฒนาโดย <a class="text-white reset-anchor" href="https://github.com/godzillafiw?tab=repositories" target="_blank">อนุชา บัวตุม</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>